/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700|Roboto&subset=latin-ext");
/* VARIABLES */
/* PLACEHOLDERS */
.section-header:before, .overlay ul, .hero .about, .hero .about .goal {
  margin: 0 auto; }

/* MIXIN */
/* MEDIA QUERY*/
/* ANIMATION */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    top: 120%; }
  100% {
    opacity: 1;
    top: 0; } }

/* GENERAL */
body {
  font-family: 'Lato', sans-serif; }

.section-header {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  margin: 80px 0;
  text-shadow: 1px 1px 1px #000; }
  .section-header:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 162px;
    opacity: 0.3;
    text-shadow: none; }

/* NAV */
.button_container {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 35px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }
  .button_container:hover {
    opacity: 0.65; }
  .button_container.active .top {
    transform-origin: 22%;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
    background: #fff;
    box-shadow: 0 0 0 #000; }
  .button_container.active .middle {
    opacity: 0;
    background: #fff; }
  .button_container.active .bottom {
    transform-origin: 22%;
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg);
    background: #fff;
    box-shadow: 0 0 0 #000; }
  .button_container span {
    background: #6186ff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer;
    box-shadow: 1px 1px 3px #000; }
    .button_container span:nth-of-type(2) {
      top: 10px; }
    .button_container span:nth-of-type(3) {
      top: 20px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  -moz-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  -o-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 10; }
  .overlay:before {
    content: '';
    background: rgba(97, 134, 255, 0.8);
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: left 0.45s ease;
    -moz-transition: left 0.45s ease;
    -o-transition: left 0.45s ease;
    transition: left 0.45s ease; }
  .overlay:after {
    content: '';
    background: rgba(97, 134, 255, 0.8);
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: right .45s ease;
    -moz-transition: right .45s ease;
    -o-transition: right .45s ease;
    transition: right .45s ease; }
  .overlay.open {
    visibility: visible;
    height: 100%; }
    .overlay.open:before {
      left: 0; }
    .overlay.open:after {
      right: 0; }
    .overlay.open li {
      animation: fadeInBottom 0.6s ease forwards;
      animation-delay: 0.45s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: 0.55s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: 0.65s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: 0.75s; }
  .overlay nav {
    position: relative;
    height: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center;
    z-index: 20; }
  .overlay ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      min-height: 70px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        text-shadow: 2px 2px 4px #000;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 200%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 3px;
          background: #fff;
          -webkit-transition: 0.35s;
          -moz-transition: 0.35s;
          -o-transition: 0.35s;
          transition: 0.35s; }

/* HERO */
.hero {
  color: #000;
  background: rgba(232, 117, 12, 0.65); }
  .hero .container {
    min-height: 100vh;
    position: relative; }
  .hero .about {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    @media (max-width: 475px) {
      .hero .about h1 {
        font-size: 28px; } }
    @media (max-width: 475px) {
      .hero .about h2 {
        font-size: 22px; } }
    .hero .about img {
      margin: 15px 0;
      border-radius: 50%;
      filter: grayscale(100%);
      border: 3px dashed #fff; }
    .hero .about .goal {
      max-width: 50%; }

/* PROJECTS */
.projects {
  background: rgba(97, 134, 255, 0.8); }
  .projects .section-header:before {
    content: "P"; }
  .projects [class*="col"] {
    padding-bottom: 30px; }
  .projects .info-container {
    position: relative; }
  .projects .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .projects .layer:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: background 0.6s;
      background: transparent; }
    .projects .layer:hover:before {
      background: rgba(232, 117, 12, 0.65); }
    .projects .layer:hover .info {
      opacity: 1; }
    .projects .layer .info {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: #fff;
      min-width: 80%;
      opacity: 0;
      transition: opacity 1s; }
  .projects .btn {
    color: #fff;
    display: block;
    margin: 15px auto;
    line-height: 35px;
    width: 150px;
    border: 2px solid rgba(97, 134, 255, 0.8);
    background-image: linear-gradient(-45deg, rgba(97, 134, 255, 0.8) 50%, #fff 55%);
    background-size: 400%;
    background-position: 100% 0;
    font-size: 20px;
    padding: 0 25px;
    transition: color 0.8s, background 1s; }
    .projects .btn:last-of-type {
      width: 100px; }
    .projects .btn:hover {
      background-position: 0 100%;
      color: #6186ff; }
  .projects h3 {
    line-height: 40px;
    text-shadow: 2px 2px 0 #000; }
  .projects p {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    line-height: 25px;
    font-size: 18px;
    /* Border for text */
    text-shadow: #000 0px 0px 2px,  #000 0px 0px 2px,  #000 0px 0px 2px,  #000 0px 0px 2px,  #000 0px 0px 2px,  #000 0px 0px 2px; }

.skills {
  background: rgba(232, 117, 12, 0.65);
  padding-bottom: 30px; }
  .skills .section-header:before {
    content: "U"; }
  .skills .section-header.second:before {
    content: "Z"; }
  .skills .image-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .skills .skills-icon {
    height: 100px;
    margin: 20px 30px; }
    .skills .skills-icon:fist-of-type {
      margin-left: 0; }
    @media (max-width: 475px) {
      .skills .skills-icon {
        margin: 10px 15px; } }
  .skills .future-skills-icon {
    height: 100px;
    margin: 0;
    padding: 0; }
  .skills .test {
    line-height: 100px; }
  .skills .operators {
    font-weight: 700;
    margin-left: -3px;
    font-size: 70px;
    line-height: 100px;
    position: relative;
    top: 22px; }
    .skills .operators.or {
      margin: 0 5px; }

/*# sourceMappingURL=style.css.map */