/* MIXIN */
@mixin filter-gray($filt) {
    -webkit-filter: grayscale($filt);
    filter: grayscale($filt);
}

@mixin transform($trans) {
    -webkit-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin middle-align {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin middle-center-align {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @extend %margin-auto;
    @include transform(translateY(-50%));
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}