/* PLACEHOLDERS */

%margin-auto {
    margin: 0 auto;
}

%navigation-floating-sides {
    content: '';
    position: absolute;
    background: $nav-bg-color;
    top: 0;
    width: 50%;
    height: 100%;
}

%full-size-absolute {
    position: absolute;
    width: 100%;
    height: 100%; 
}

%display-flex {
    display: -webkit-flex;
    display: flex;
}