/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700|Roboto&subset=latin-ext');

/* IMPORT FILES */
@import 'variables.scss';
@import 'placeholders.scss';
@import 'mixins.scss';
@import 'animation.scss';
@import 'general.scss';

/* NAV */
.button_container {
    position: fixed;
    top: 5%;
    right: 5%;
    height: $nav-button-height + 5px;
    width: $nav-button-width + 5px;
    cursor: pointer;
    z-index: 20;
    @include transition(opacity 0.25s ease);
    &:hover {
        opacity: 0.65;
    }
    &.active {
        .top {
            transform-origin: 22%;
            background: $main-font-color;
            box-shadow: 0 0 0 $sec-font-color;
            @include transform(rotate(405deg));
        }
        .middle {
            opacity: 0;
            background: $main-font-color;
        }
        .bottom {
            transform-origin: 22%;
            background: $main-font-color;
            box-shadow: 0 0 0 $sec-font-color;
            @include transform(rotate(-405deg));
        }
    }
    span {
        background: $nav-main-color;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        cursor: pointer;
        @include transition(all 0.35s ease);
        box-shadow: 1px 1px 3px $sec-font-color;
        &:nth-of-type(2) {
            top: 10px;
        }
        &:nth-of-type(3) {
            top: 20px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    z-index: 10;
    &:before {
        @extend %navigation-floating-sides;
        left: -55%;
        @include transition(left 0.45s ease);
    }
    &:after {
        @extend %navigation-floating-sides;
        right: -55%;
        @include transition(right .45s ease);
    }
    &.open {
        visibility: visible;
        height: 100%;
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        li {
            -webkit-animation: fadeInBottom 0.6s ease forwards;
            animation: fadeInBottom 0.6s ease forwards;
            animation-delay: 0.45s;
            &:nth-of-type(2) {
                animation-delay: 0.55s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.65s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.75s;
            }
        }
    }
    nav {
        position: relative;
        height: 60%;
        top: 50%;
        font-size: 50px;
        text-align: center;
        z-index: 20;
        @include transform(translateY(-50%));
    }
    ul {
        list-style: none;
        padding: 0;
        @extend %margin-auto;
        display: inline-block;
        position: relative;
        height: 100%;
        li {
            display: block;
            height: 25%;
            min-height: 70px;
            position: relative;
            opacity: 0;
            a {
                display: block;
                position: relative;
                color: $main-font-color;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                text-decoration: none;
                text-shadow: 2px 2px 4px $sec-font-color;
                overflow: hidden;
                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 200%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                    height: 3px;
                    background: $main-font-color;
                    -webkit-transition: 0.35s;
                    -moz-transition: 0.35s;
                    -o-transition: 0.35s;
                    transition: 0.35s;
                }
            }
        }
    }
}


/* HERO */

.hero {
    color: $sec-font-color;
    background: $hero-bg-color;
    .container {
        min-height: 100vh;
        position: relative;
    }
    .about {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        @extend %margin-auto;
        text-align: center;
        h1 {
            @media #{$vertical-phone} {
                font-size: 28px;
            }
        }
        h2 {
            @media #{$vertical-phone} {
                font-size: 22px;
            }
        }
        img {
            margin: 15px 0;
            border-radius: 50%;
            border: 3px dashed $main-font-color;
            @include filter-gray(100%);
        }
        .goal {
            max-width: 50%;
            @extend %margin-auto;
        }
    }
}


/* PROJECTS */

.projects {
    background: $nav-bg-color;
        @media #{$vertical-phone} {
           overflow: hidden;
        }
    .container {
        @media #{$vertical-phone} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .section-header {
        &:before {
            content: "P";
        }
    }
    [class*="col"] {
        padding-bottom: 30px;
    }
    .info-container {
        position: relative;
    }
    .layer {
        top: 0;
        left: 0; 
        align-items: center;
        @extend %full-size-absolute;
        @extend %display-flex;
        &:before {
            content: "";
            @extend %full-size-absolute;
            transition: background 0.6s;
            background: transparent;
        }
        &:hover:before {
            background: $hero-bg-color;
        }
        &:hover .info {
            opacity: 1;
        }
        .info {
            position: absolute;
            left: 0;
            right: 0;
            color: $main-font-color;
            min-width: 80%;
            opacity: 0;
            transition: opacity 1s;
            @extend %margin-auto;
        }
    }
    .btn {
        color: $main-font-color;
        display: block;
        margin: 15px auto;
        line-height: 35px;
        width: 150px;
        border: 2px solid $nav-bg-color;
        background-image: linear-gradient(-45deg, $nav-bg-color 50%, $main-font-color 55%);
        background-size: 400%;
        background-position: 100% 0;
        font-size: 20px;
        padding: 0 25px;
        transition: color 0.8s, background 1s;
        &:last-of-type {
            width: 100px;
        }
        &:hover {
            background-position: 0 100%;
            color: $nav-main-color;
        }
        @media #{$vertical-phone} {
            line-height: 25px;
            font-size: 16px;
            padding: 0 15px;
            margin: 8px auto;
        }
    }
    h3 {
        line-height: 40px;
        text-shadow: 2px 2px 0 $sec-font-color;
        @media #{$vertical-phone} {
            line-height: 30px;
            font-size: 20px;
            margin: 10px auto;
        }
    }
    p {
        text-transform: uppercase;
        color: $main-font-color;
        font-family: 'Open sans', sans-serif;
        font-weight: 700;
        line-height: 25px;
        font-size: 18px;
        /* Border for text */
        text-shadow: $sec-font-color 0px 0px 2px, 
                     $sec-font-color 0px 0px 2px, 
                     $sec-font-color 0px 0px 2px, 
                     $sec-font-color 0px 0px 2px, 
                     $sec-font-color 0px 0px 2px, 
                     $sec-font-color 0px 0px 2px;
        @media #{$vertical-phone} {
            font-weight: 400;
            line-height: 22px;
            font-size: 15px;
        }
    }
}

.skills {
    background: $hero-bg-color;
    padding-bottom: 50px;
    .section-header {
        &:before {
            content: "U";
        }
        &.second:before {
            content: "Z";
        }
    }
    .image-place {
        @extend %display-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .skills-icon {
        height: 100px;
        margin: 20px 30px;
        &:fist-of-type {
            margin-left: 0;
        }
        @media #{$vertical-phone} {
            margin: 10px 15px;
        }
    }
    .future-skills {
        @media #{$vertical-phone} {
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;    
        }
        .future-skills-icon {
            height: 80px;
            @media #{$laptop} {
                height: 60px;
            }
            @media #{$phone} {
                height: 40px;
            }
            @media #{$vertical-phone} {
                height: 100px;
                margin: 10px 15px;
            }
            &.hide-icons {
                @media #{$vertical-phone} {
                    display: none;
                }
            }
        }
        .operators {
            font-weight: 700;
            font-size: 60px;
            margin-left: -6px;
            line-height: 80px;
            position: relative;
            top: 18px;
            left: 3px;
            @media #{$laptop} {
                font-size: 40px;
                line-height: 60px;
                top: 11px;
            }
            @media #{$phone} {
                font-size: 25px;
                font-weight: 400;
                top: 6px;
            }
            @media #{$vertical-phone} {
                display: none;
            }
        }
    }
}

/* CONTACT */

.contact {
    background: $nav-bg-color;
    .section-header {
        &:before {
            content: "K";
        }
    }
    .fa {
        font-size: 50px;
        width: 80px;
        color: $main-font-color;
        line-height: 80px;
        border-radius: 50%;
        transition: background 1s;
        -webkit-animation: shakeIconsOut 1s ease-in-out;
        animation: shakeIconsOut 1s ease-in-out;
        &:hover {
            -webkit-animation: shakeIconsIn 1s ease-in-out;
            animation: shakeIconsIn 1s ease-in-out;
        }
        &.fa-github {
            &:hover {
                background: #333;    
            }
        }
        &.fa-envelope {
            &:hover {
                background: #d34836;
            }
        } 
    }
    .form-group {
        margin: 30px 0;
        .form-control {
            margin-bottom: 20px;
            font-size: 20px;
            border-radius: 8px;
            resize: none;
        }
        .btn {
            display: block;
            margin: 0 auto 40px;
            text-transform: uppercase;
        }
    }
}

/* FOOTER */
footer {
    background: $nav-main-color;
    padding: 10px 0;
    p {
        margin-bottom: 0;
        font-size: 14px;
        span {
            color: $main-font-color;
        }
    }
}